html, body {
  margin: 0;
  padding: 0;
}

.mainContainer {
  max-width: 1024px;
  margin: 0 auto;
  height: auto;
}

.header { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: #FAFAFA;
    opacity: 0.9;
}


.titleHeader {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.logoContainer {
  width: 50px;
  height: 50px;
}

.logo {
  width: 100%;
}

.menuItem {
  text-decoration: none;
  color: inherit;
  margin-left: 30px;
  font-size: 16px;
  
}

.menuItem:hover {
  
  /* border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid; */
  border-radius: 0.5rem; 
  background-color: black;
  color: white;
  padding: 3px;
}


.blockElement {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #F6F6F6;
  height: 35px;
  width: 300px;
  border-radius: 15px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;

}

.myanmar {
  background-color: #0084ff;
  border-radius: 24px;
  border: none;
  color: white;
  padding: 2px 20px 0px;
  font-size: 19px;
  height: 40px;
  width: 100px;
}

.inputSpan {
  margin-bottom: 20px;
}

.password {
  margin-bottom: 20px;
}


.left {
    display: inline-block;
    width: 50%;
}

.inner {
  width: 50%;
}

.right {
    display: inline-block;
    width: 50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    padding: 50px;
    background-color: #FAFAFA;
}

.appStoreImage {
    width: 50%;
}

.rightImage {
    width: 140%;
}

.mobileMenuContainer {
 
  display: none;
}

@media (max-width: 767px) {
  .menuContainer {
    display: none
  }

  .mobileMenuContainer {
    border: none;
    display: block;
  }
  .menuImg{
    width: 30px;
    height: 30px;
    
  }
  .left {
    width: 100%;
    margin-bottom: 50px;
  }

  .inner {
    width: 64%;
    margin: 0 auto;
  }

  .right {
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  .rightImage {
    margin: 0 -50%;
  }
}

@media (max-width: 375px) {
  .inner {
    width: 95%;
  }

  .footer {
    margin-top: 30px;
    font-size: 30px;
    padding: 10px;
  }
}
